.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

  .centered_div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    text-align: left;
    color: teal;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .link-button:hover {
    background-color: #d9dde2;
    color: white;
  }

  .ui.table tr td { border-top: 0px !important; }